.team {
  width: 100%;
}

.team-content {
  width: 75%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 25px;
}

.team-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 0.5em;
  color: #414f6b;

  span {
    margin-right: -15px;
    font-size: 135px;
    letter-spacing: -12px;
    color: #414f6b;
  }
}

.team-description {
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .team-content {
    flex-direction: column;
  }
  .team-title {
    font-size: 2rem;
  }

  .team-description {
    font-size: 0.9rem;
  }
}
