/* src/components/Team/team.css */

.team {
  text-align: center;
  padding: 4rem 0; /* Adjust based on your design */
  color: #fff; /* Assuming white text */
}

.team-content {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.team-title {
  font-size: 3rem; /* Adjust based on your design */
  margin-bottom: 1rem;
}

.team-description {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .team-title {
    font-size: 2rem;
  }

  .team-description {
    font-size: 0.9rem;
  }
}
