.footer {
  width: 100%;
  background-color: #304d6d;
  color: #63769d;
  padding: 1rem 0;
}

.footer-container {
  width: 75%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 50px;
}

.footer-text {
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-text {
    font-size: 0.75rem;
  }
}
